@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  /* max-width: 600px; */
}

.card {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  border-radius: 20px;
}

.card div {
  /* max-width: 300px; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  text-align: center;
}

.left h4 {
  color: hsl(241, 100%, 89%);
  padding: 30px;
  font-weight: 500;
}

.circel {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
}

.circel-text {
  padding: 30px 50px;
}

.circel-text h1 {
  font-size: 50px;
  color: hsl(0, 0%, 100%);
}

.circel-text p {
  font-size: 15px;
  padding: 5px 0 !important;
  color: hsla(241, 100%, 89%, 0.5);
}

.left h3 {
  color: hsl(0, 0%, 100%);
  padding: 20px;
  font-weight: 700;
}

.left p {
  color: hsl(241, 100%, 89%);
  font-size: 15px;
  max-width: 200px;
  padding: 0 50px 40px;
}

.right {
  width: 300px;
}

.right h4 {
  padding-top: 30px;
  text-align: start;
  padding-left: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.cards div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 20px;
  /* background-color: aqua; */
  height: 25px;
  padding: 14px 8px;
  border-radius: 8px;
}

.cards div .c-left,
.cards div .c-right {
  display: flex;
  gap: 8px;
}

.cards div .c-right:nth-child(1) {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
  font-size: 16px;
}

.prozent {
  font-weight: 700;
  font-size: 16px;
  color: hsla(224, 30%, 27%, 0.4);
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction .c-left p {
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory .c-left p {
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal .c-left p {
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.visual .c-left p {
  color: hsl(234, 85%, 45%);
}

.btn {
  height: 3rem;
  border: none;
  font-weight: 500;
  width: 85%;
  border-radius: 48px;
  font-size: 17px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 660px) {
  .card {
    flex-direction: column;
  }

  body {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .container {
    margin: 0;
    width: 100%;
    /* height: 100%; */
  }

  .left {
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .card {
    border-radius: 0;
  }

  .right {
    width: 100%;
  }

  footer {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 10px;
}
